<div class="full-screen flex justify-content-center align-items-center">
	<p-card header="Login page" class="login-container">
		<div class="grid pt-3">
			<div class="col flex justify-content-center">
				<span class="p-float-label">
					<input pInputText id="username" [(ngModel)]="value" />
					<label htmlFor="username">Username</label>
				</span>
			</div>
		</div>

		<div class="grid pt-3">
			<div class="col flex justify-content-center">
				<span class="p-float-label">
					<p-password
						[(ngModel)]="value"
						[feedback]="false"></p-password>
					<label for="password">Password</label>
				</span>
			</div>
		</div>

		<div class="grid pt-3">
			<div class="col flex justify-content-center">
				<p-button label="Login"></p-button>
			</div>
		</div>
	</p-card>
</div>
