<p-toolbar>
	<div class="p-toolbar-group-start">
		<p-button
			label="Return"
			icon="pi pi-arrow-left"
			styleClass="p-button-text"
			(click)="closeTest()"></p-button>
	</div>
	<div class="p-toolbar-group-center">
		Languages: {{ wordset.languageFrom }} - {{ wordset.languageTo }}
	</div>
	<div class="p-toolbar-group-end">
		Elapsed time: {{ elapsedTime | timeFormat }}
	</div>
</p-toolbar>

<ng-container *ngIf="testFinished">
	<app-words-list-results
		[time]="elapsedTime"
		[wrongAnswers]="wrongAnswers"></app-words-list-results>
</ng-container>

<div class="words-container mt-3" [formGroup]="form">
	<ng-container formArrayName="answers">
		<ng-container *ngFor="let word of answers.controls; let i = index">
			<div class="grid">
				<div class="col font-medium text-xl">
					{{ convertToWordList(this.wordset)[i].nameFrom }}
				</div>
			</div>

			<div class="grid pt-2">
				<div class="col">
					<input
						type="text"
						pInputText
						[formControlName]="i"
						(keyup.enter)="checkAnswer(i)"
						[@answerState]="answerStates[i]" />

					<i
						class="pi pi-check"
						style="color: green; margin-left: 16px"
						[@iconState]="iconStates[i]"></i>
				</div>
			</div>

			<p-divider *ngIf="wordset.words?.length !== i + 1"></p-divider>
		</ng-container>
	</ng-container>
</div>
