<p-card header="Last results">
	<p class="m-0">user last results</p>
</p-card>

<div class="pt-3">
	<p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
		<ng-template pTemplate>
			<div class="col flex align-items-center justify-content-center">
				<p-button label="Learn"></p-button>
			</div>
		</ng-template>
		<ng-template pTemplate>
			<div class="col flex align-items-center justify-content-center">
				<p-button label="Test" styleClass="wordset-button"></p-button>
			</div>
		</ng-template>
	</p-splitter>
</div>
