<div [formGroup]="creatorForm">
	<div class="grid pt-3">
		<div class="col">
			<input
				pInputText
				id="username"
				formControlName="name"
				placeholder="Wordset name"
				class="w-full" />
		</div>
	</div>

	<div class="grid pt-3">
		<div class="col-5">
			<p-dropdown
				[options]="languages"
				[showClear]="true"
				placeholder="Source language"
				formControlName="languageFrom"
				styleClass="w-full"></p-dropdown>
		</div>
		<div class="col-2 centered">
			<p-button
				icon="pi pi-arrow-right-arrow-left"
				(click)="swapLanguages()"></p-button>
		</div>
		<div class="col-5">
			<p-dropdown
				[options]="languages"
				[showClear]="true"
				placeholder="Target language"
				formControlName="languageTo"
				styleClass="w-full"></p-dropdown>
		</div>
	</div>

	<p-divider></p-divider>

	<ng-container formArrayName="words">
		<ng-container *ngFor="let wordsForm of words.controls; let i = index">
			<div
				class="grid pt-3"
				[formGroup]="convertAbstractControlToFormGroup(wordsForm)">
				<div class="col-11 space-between">
					<input
						pInputText
						id="username"
						formControlName="nameFrom"
						placeholder="Source word" />

					<input
						pInputText
						id="username"
						formControlName="nameTo"
						placeholder="Target word" />
				</div>
				<div class="col align-end">
					<p-button
						icon="pi pi-times"
						(click)="deleteWordsRow(i)"></p-button>
				</div>
			</div>
		</ng-container>
	</ng-container>

	<div #footerSpace></div>

	<div class="grid pt-3 footer-section" #footer>
		<div class="col align-start">
			<p-button label="Add row" (click)="addWordsRow()"></p-button>
			<p-button
				label="Save wordset"
				(click)="save()"
				[disabled]="!creatorForm.valid"></p-button>
		</div>
	</div>
</div>
