@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"
@import "/node_modules/primeflex/primeflex.css"

body
	margin: 0
	padding: 0

.container
	display: flex
	height: 100vh
	width: 100vw


.nav
	width: 250px
	background-color: #333
	color: white
	padding: 10px
	box-shadow: 2px 0 55px rgba(0, 0, 0, 0.1)
	position: fixed
	top: 0
	left: 0
	height: 100vh

	.logo
		height: 50px
		margin-bottom: 10px

	p-menu
		.p-menu
			background-color: #333
			border: 0
			width: 100%

		.p-menuitem
			background-color: #333
			color: #BDBDBD

		.p-menuitem-content
			transition: background-color 0.3s ease
			color: #BDBDBD
			&:hover
				background-color: rgba(255, 255, 255, 0.1)

		.p-menuitem-text
			color: #BDBDBD

		.p-submenu-header
			background-color: #333
			color: #757575
			font-weight: 250


.main
	flex: 1
	padding: 10px
	position: fixed
	z-index: 1
	top: 60px
	left: 250px
	display: flex
	flex-direction: column
	height: calc(100vh - 60px)
	width: calc(100vw - 250px)
	background-color: #F8F8F8


.content
	flex-grow: 1

.header
	padding: 5px
	text-align: center
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
	position: fixed
	top: 0
	left: 250px
	width: calc(100vw - 250px)
	background-color: #3498DB
	height: 60px
	z-index: 2

	p-menubar
		.p-menubar
			background-color: #3498DB
			border: 0
			float: right
			height: 100%

		.p-menuitem-content
			transition: background-color 0.3s ease
			color: #3498DB
			&:hover
				background-color: rgba(255, 255, 255, 0.1)

		.p-menuitem
			background-color: #3498DB

		.p-submenu-list
			background-color: #3498DB

.full-screen
	height: 100%
	width: 100%
